= content_for :title, t('.title')
.faqs-page.static-page
  .row
    .title
      h2 Frequently Answered Questions
    .text
      h4 Projects
      dl
        dt
          span.ui-icon.ui-icon-triangle-1-s style='float: left'
          |So who can list projects on MicroPasts?
        dd
          |Anyone who wishes to propose a project about archaeology, history or heritage may do so as long as the project is conducted by a mixed team including: (a) at least one archaeology, history or heritage professional, and (b) at least one other interested member of the public. At present, we will vet all proposed projects to ensure that this is the case, but we are happy to hear suggestions about alternatives.
      dl
        dt
          span.ui-icon.ui-icon-triangle-1-s style='float: left'
          |I'm an interested member of the public and have an idea for an archaeology, history or heritage project for which I would like to seek funding. However, I'm not affiliated to an academic institution and don’t have an institutional partner to team up with. What should I do?
        dd
          |On the MicroPasts crowd-funding platform you are able to fundraise only for projects that will be conducted jointly by community (e.g. people already belonging to volunteer historical and archaeological societies, or individual members of the public wth a particular interest) and institutional partners (e.g. universities, museums). If you don’t know any archaeology, history or heritage professional to team up with, we might be able to help you find one, so do get in touch!
      dl
        dt
          span.ui-icon.ui-icon-triangle-1-s style='float: left'
          |Can I crowd-fund archaeological excavations?
        dd
          |Not at present. At this stage, we wish to place our emphasis on facilitating other kinds of research project.
      dl
        dt
          span.ui-icon.ui-icon-triangle-1-s style='float: left'
          |The project I would like to propose has a budget of more than the stated MicroPasts maximum. Can I still list it on MicroPasts?
        dd
          |Unfortunately you cannot. Our budget maximum is open to future change, but at present we are only accepting proposals with a budgets of up to 5,000 GBP.
      dl
        dt
          span.ui-icon.ui-icon-triangle-1-s style='float: left'
          |Can I list an archaeology/history/heritage project that will be conducted outside the UK?
        dd
          |Yes, you can! On MicroPasts, you can list archaeology, history and heritage projects whose main focus of research is anywhere in the world.
      h4 Financial
      dl
        dt
          span.ui-icon.ui-icon-triangle-1-s style='float: left'
          |Who pays the bank fees?
        dd Since the purpose of MicroPasts is to help research project with a combination of commuity and instituional contributros, we do ask that individual crowd-funding contributors cover these fees. We plan to add additional payment options giving you even more choices, so stay tuned!
      dl
        dt
          span.ui-icon.ui-icon-triangle-1-s style='float: left'
          |What happens if a project I back doesn't get funded?
        dd You will receive credit for 100% of your contribution in the form of MicroPasts credits, which you can use to back any other listed project(s) of your choosing.
      dl
        dt
          span.ui-icon.ui-icon-triangle-1-s style='float: left'
          |What if I don't want MicroPasts credits?
        dd No problem, you can request a refund from refunds (at) micropasts (dot) org. Please note that you will receive back your contribution less applicable fees and expenses within 30 (thirty) days of making the request.
      dl
        dt
          span.ui-icon.ui-icon-triangle-1-s style='float: left'
          |Does MicroPasts retain any of my contribution?
        dd In order to keep the servers running and keep the site sustainable over the longer term, we will retain 1% of contributions made on the platform. This percentage is meant to cover base costs rather than create any profit for MicroPasts from year to year and the exact level is something we will scrutinise and discussopenly on the community forum. If you feel that a different level of contribution to running costs is viable and more appropriate, please do make it known on the MicroPasts community forum!
      dl
        dt
          span.ui-icon.ui-icon-triangle-1-s style='float: left'
          |How do I know the project team won't spend my money on something else?
        dd If the project you have supported reaches its minimum funding target before its stated deadline, then you will be emailed a notification with an address via which you can communicate directly with the project. If there are any project perks meant for crowd-funding or crowd-sourcing contributors, you will also hear about them via email. Each funded project will also be offering updates on the MicroPasts community blog
      dl
        dt
          span.ui-icon.ui-icon-triangle-1-s style='float: left'
          |Are my contributions tax-deductible?
        dd Your donations might be tax deductible, but you should speak to a financial adviser for clarification. The MicroPasts team is not in the position to advise on this.